//main styles

.intro {
    display: flex;


    &-section {
        padding: 60px 0;
        background: #f2fbfe;
        position: relative;
        border-radius: 0;


        // overflow: hidden;

        @include br-p(992px, min) {

            &:before {
                content: '';
                position: absolute;
                top: calc(100% - 1px);
                border-radius: 0 0 100% 100%;
                height: 100px;
                width: 100%;
                background: #f2fbfe;
            }


            transition: clip-path 1s .2s cubic-bezier(0.87, 0.06, 0.14, 1),
            opacity .5s;
            clip-path: circle(100% at 50% 50%);
            opacity: 1;


            .loaded & {
                opacity: 0;
                clip-path: circle(0% at 50% 50%);
            }
        }
    }

    &__wrapper {
        width: 100%;
    }

    &-title {
        margin-bottom: 25px;
    }

    &__info {
        max-width: 526px;
        flex: 0 0 526px;
        padding-top: 160px;
        padding-left: 25px;
    }

    &__buttons {
        padding-top: 27px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__btn {
        flex: 0 0 auto;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img-box {
        max-width: calc(100% - 500px);
        flex: 0 0 calc(100% - 500px);
        padding: 20px;
    }

    img {
        display: block;
        margin: 0px auto;
    }
}


.interactive-el {
    position: absolute;


    &_1 {
        top: 0;
        left: -9px;
    }

    &_2 {
        right: -15px;
        bottom: 15%;
        // max-width: 18%;
        width: 290px;


        @include br-p(992px, min) {
            height: 640px;
            bottom: 10%;
        }
    }

    &_3 {
        bottom: 8%;
        // right: calc(18%);
        left: 45%;
        transform: translateY(70%);
        max-width: 38%;

        @include br-p(992px, min) {
            max-width: 100%;
            width: 100%;
            height: 620px;
            bottom: 0;
            left: 40%;
        }
    }

    &_4 {
        bottom: 10%;
        // left: -18%;
        // right: -38%;
        right: calc(50% - 3190px / 2);
        // width: 144%;
        width: 3190px;
        transform: translateY(74%);
        max-width: initial;

        @include br-p(992px, min) {
            height: 860px;
            bottom: 7%;
        }
    }

    &_5 {
        bottom: 9%;
        right: 11%;
        max-width: 50%;

        @include br-p(1900px) {
            bottom: 20px;
            left: 45%;
        }
    }

    &_6 {}

    &_7 {
        top: 50%;
        width: 100%;
        left: 0;
        max-width: inherit;
        transform: translateY(-43%);
    }

    &_8 {
        top: 0;
        left: 0;
        transform: translateY(-26%);

        @include br-p(1921px, min) {
            width: 100vw;
            text-align: center;
        }
    }

    &_10 {
        transform: translateY(-37%);
        top: 50%;

        @include br-p(1921px, min) {
            width: 100vw;
            text-align: center;
        }
    }
}

.targets {

    &-section {
        padding: 145px 0px 85px;
    }

    &__title-box {
        padding: 0px 200px 10px;
    }

    &__more-btn {
        position: absolute;
        right: 0;
        top: -60px;
    }
}


.cards{
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 15px;
    flex: 0 0 25%;

    .js-cards-slider &{
        flex: 1 1 100%;
    }

    &__content {
        box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    &__img-box {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        flex: 0 0 auto;
        position: relative;
        height: 298px;

        @include br-p(992px, min) {
            border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
            transition: border-radius 1s cubic-bezier(0.87, 0.06, 0.14, 1) .1s, opacity .5s;
            opacity: 0;

            &.animated {
                border-radius: 10px 10px 0 0;
                opacity: 1;
            }
        }


        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 64px;
            background: no-repeat url(../img/card-img_over.png) right bottom / 100% 100%;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        flex: 1 1 auto;
        padding: 35px 25px 25px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff;

        &-top {
            flex: 1 1 auto;
        }

        &-bottom {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
        }
    }

    &__title-box {
        margin-bottom: 20px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__age {
        font-weight: 18px;
    }

    &__label {
        font-size: 14px;
        font-weight: 700;
    }

    &__description {
        padding: 10px 0;

        &-box {
            margin-bottom: 7px;
        }
    }

    &__statistic {
        font-size: 12px;

        i {
            margin-right: 6px;
            opacity: 0.3;
        }
    }

    &__btn {
        font-size: 14px;
        font-weight: 700;
    }
}

.status {
    padding-bottom: 5px;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        margin-bottom: 8px;
    }

    &__label {
        font-weight: 700;
        padding-right: 15px;
    }

    &__percent {
        color: $col-1;
    }

    &-bar {
        width: 100%;
        height: 8px;
        position: relative;
        border-radius: 10px;
        background: #f4f4f4;
        overflow: hidden;

        &__rate {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 0;
            border-radius: 10px;
            background: $col-1_gradient;
            transition: all 1s .2s cubic-bezier(0.87, 0.06, 0.14, 1);
        }
    }
}


.how {

    &-section {
        padding: 40px 0px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__btn-box {
        padding-left: 25px;
        padding-top: 5px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;
        padding: 10px 0 20px;
    }

    &-card {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 10px;
        height: inherit;

        &_half {
            flex: 1 1 50%;
            max-width: initial;
            padding: 20px 10px;
        }

        &_full {
            flex: 1 1 100%;
            max-width: initial;
            padding: 20px 10px;


            .how-card__icon-box {
                flex: 0 0 50%;
            }

            .how-card__info {
                flex: 0 0 45%;
                max-width: 45%;
            }
        }

        &__content {
            background: #FFFFFF;
            box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            padding: 40px 15px;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: $trs;
            transition-property: box-shadow;

            &_vertical {
                flex-direction: row;
                align-items: center;
            }

            @include br-p(992px, min) {
                $colors: (1: $col-1,
                        2: $col-2,
                        3: $col-3,
                        4: $col-4,
                    );

                @each $key,
                $color in $colors {
                    $i: index($colors, ($key $color));

                    @at-root .how-card:nth-child(#{$i}n) &.hovered {
                        box-shadow: 0px 9px 35px rgba($color, 0.2);
                    }
                }
            }
        }

        &__info {
            flex: 0 0 55%;
            max-width: 55%;
            text-align: left;
        }

        &__icon-box {
            flex: 1 1 auto;
            padding: 12px 0;
        }

        &__title {
            flex: 0 0 auto;
            position: relative;
            padding-bottom: 12px;
            font-size: 18px;

            &:after {
                content: '';
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                position: absolute;
                width: 42px;
                height: 2px;
                background: $col-1_gradient;
            }

            &_lg {
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                color: $t-col-3;

                &:after {
                    content: none;
                }
            }
        }

        &__icon {
            max-width: 100%;
            pointer-events: none;

            &-box {
                @include br-p(992px, min) {
                    transition: clip-path 1s .2s cubic-bezier(0.87, 0.06, 0.14, 1), opacity .5s;
                    clip-path: ellipse(0% 0% at 50% 50%);
                    opacity: 0;

                    &.animated {
                        opacity: 1;
                        clip-path: ellipse(100% 100% at 50% 50%);
                    }
                }
            }
        }

        &__text {
            font-size: 14px;
            line-height: 150%;
            color: $t-col-3;
            margin-bottom: 36px;
        }

        &__btn {

            @include br-p(992px, min) {
                opacity: 0;

                @at-root .animated & {
                    opacity: 1;
                }
            }
        }
    }
}


.cta {
    padding: 190px 0px 40px;
    position: relative;


    &-form {
        padding: 50px 0 0;
        position: relative;
        padding-left: 150px;

        &__bg {
            background: #FFFFFF;
            box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            display: flex;
            justify-content: center;
            padding: 78px 40px 78px 160px;
            max-width: 1185px;
            margin-left: auto;

            &_full {
                max-width: 100%;
                box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.06);
                flex-wrap: wrap;
                padding: 60px 130px 100px;

                .input {
                    max-width: 100%;
                }
            }

            &_inner {
                box-shadow: none;
                padding-top: 0;
                padding: 40px 130px 80px;

                &:before {
                    content: '';
                    opacity: 0.1;
                    border: 1px solid #BFBFBF;
                    display: block;
                    width: 100%;
                    margin-bottom: 69px;
                }
            }

            &_no-padd{
                padding-left: 0;
                padding-right: 0;
            }
        }

        &__top {
            flex: 1 1 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;
        }

        &__content {
            max-width: 780px;
            flex: 1 1 auto;
            width: 100%;
            display: flex;
            position: relative;
            z-index: 2;

            &_full {
                max-width: initial;
                margin: 0px -15px;
            }

            .form-messages {
                .message-text {
                    position: absolute;
                    right: 0;
                    top: 100%;
                    // height: 50px;
                    width: 100%;
                    padding: 4px 0;
                    overflow-y: auto;
                    background: #ffffff;
                }
            }

            .uForm__error-msg {
                position: absolute;
                right: 0;
                top: 100%;
                // height: 50px;
                width: 100%;
                padding: 4px 0;
                overflow-y: auto;

                p{
                    background: #ffffff;
                }
            }

            .uForm__error-msg {
                z-index: 2;
            }
        }

        &__title-box {

            text-align: left;
        }

        &__left {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__right {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__col {
            flex: 0 0 33.333%;
            max-width: 33.333%;
            padding: 15px;
        }

        &__image-box {
            position: absolute;
            bottom: -1px;
            // left: 50px;
            right: 63.5%;

            @include br-p(992px, min) {
                opacity: 0;

                &.animated {
                    opacity: 1;
                    transition: $trs;
                }
            }

        }

        &__image-vector {
            position: absolute;


            &_1 {
                z-index: -1;
                left: 0;
                transform: translateX(-30%);
                bottom: 0;

                &__star {

                    @include br-p(992px, min) {
                        transition: transform 1s 1.4s ease-in, opacity .9s 1.2s;
                        opacity: 0;
                        transform: translate(0);
                        transform-origin: bottom;

                        .animated & {
                            transform: translate(15px, -40px);
                            opacity: 1;
                        }
                    }
                }


                &__wood {
                    @include br-p(992px, min) {
                        transition: transform 1s .9s cubic-bezier(0.87, 0.06, 0.14, 1), opacity .1s .8s;
                        opacity: 0;
                        transform: rotate(15deg);
                        transform-origin: bottom;

                        .animated & {
                            transform: rotate(0);
                            opacity: 1;
                        }
                    }
                }

                &__line {
                    @include br-p(992px, min) {
                        transition: stroke-dasharray 1s .8s cubic-bezier(0.87, 0.06, 0.14, 1), stroke-dashoffset 1.5s .1s cubic-bezier(0.87, 0.06, 0.14, 1), opacity .1s;
                        opacity: 0;
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;

                        .animated & {
                            opacity: 1;
                            stroke-dasharray: 8 4;
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }

            &_2 {
                right: 10%;
                bottom: 50%;


                &__star {
                    @include br-p(992px, min) {
                        transition: transform .6s 1.3s ease-in, opacity .4s 1.2s;
                        opacity: 0;
                        transform: translate(-12px, 40px);
                        transform-origin: bottom;

                        .animated & {
                            transform: translate(0);
                            opacity: 1;
                        }
                    }
                }

                &__star-2 {
                    @include br-p(992px, min) {
                        transition: transform .5s 1.5s ease-in, opacity .3s 1.45s;
                        opacity: 0;
                        transform: translate(-15px, 20px);
                        transform-origin: bottom;

                        .animated & {
                            transform: translate(0);
                            opacity: 1;
                        }
                    }
                }

                &__wood {
                    @include br-p(992px, min) {
                        transition: transform .6s 1.7s ease-in, opacity .5s 1.6s;
                        opacity: 0;
                        transform: translate(-7px, 8px) rotate(-9deg);
                        transform-origin: bottom;

                        .animated & {
                            transform: translate(0) rotate(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-img {
            display: block;
        }

        &__btn-box {
            text-align: right;
        }
    }
}

.get-started {
    padding: 340px 0px 300px;
    text-align: center;

    &__text {
        max-width: 600px;
        margin: 0px auto;
        margin-top: 20px;
    }

    &__btn-box {
        padding: 50px 0px 15px;
    }
}


.helped {
    padding: 10px 0;

    &-section {
        position: relative;
        padding: 50px 0px 70px;
    }

    &-bg {
        top: 0;
        transform: translateY(-48%);
        width: 100%;
        height: auto;
    }

    &__arrow-btn {

        &:after {
            background: #f2fbfe;
        }
    }
}

.team {

    &-section {
        padding: 50px 0px 50px;
    }

    &-slider {
        padding: 20px 130px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 130px;
            width: 3%;
            height: 100%;
            background: linear-gradient(90deg, #fff, rgba(#fff, 0));
            z-index: 3;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 130px;
            width: 3%;
            height: 100%;
            background: linear-gradient(270deg, #fff, rgba(#fff, 0));
            z-index: 3;
        }

        &__arrows {
            .arrow {
                right: 55px;
                top: calc(34%);

                &_prev {
                    left: 55px;
                }
            }
        }
    }

    &-unit {
        padding: 20px 15px;

        &__content {}

        &__top {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__image-box {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            position: relative;

            @include br-p(992px, min) {
                transition: clip-path 1s .5s cubic-bezier(0.87, 0.06, 0.14, 1), opacity .5s .4s;
                clip-path: circle(0% at 50% 50%);
                opacity: 0;


                &.animated {
                    opacity: 1;
                    clip-path: circle(100% at 50% 50%);
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 100%;
                border: 8px solid #fff;
                opacity: 0.5;
                z-index: 2;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            border-radius: 100%;

            &-circle {
                z-index: 2;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                left: 0;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &__experience {

            &-box {
                position: absolute;
                bottom: 15px;
                right: 15px;
                width: 66px;
                height: 66px;
                border-radius: 100%;
                background: $col-1_dark;
                background: $col-1_gradient;
                box-shadow: 0px 10px 17px rgba($col-1_dark, 0.1);
                z-index: 3;
                padding: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: $t-col-2;
                font-weight: 600;
                font-style: italic;

                &:before {
                    content: '';
                    position: absolute;
                    right: -8px;
                    bottom: -8px;
                    width: calc(100% + 16px);
                    height: calc(100% + 16px);
                    border-radius: 100%;
                    border: 1px solid $col-1_dark;

                }
            }

            &-age {
                font-size: 18px;
            }
        }

        &__info {
            text-align: center;
            padding: 45px 10px;
        }

        &__name {
            font-size: 24px;
            font-weight: 800;
            padding: 5px 0;
            margin-bottom: 7px;
        }

        &__post {
            color: $col-1;
            font-style: italic;
            padding: 5px;
            margin-bottom: 25px;
        }

        &__tel {
            font-style: italic;

            @include br-p(992px, min) {
                &:hover {
                    color: $col-2;
                }
            }
        }

        &__social-box {
            padding: 60px 0px 10px;
        }
    }
}


.successful{
    display: flex;
    margin: 0px -10px;

    &-section{
        padding: 80px 0px 30px;
    }

    &__title{
        margin-bottom: 40px;
    }

    &__main{
        flex: 0 0 calc(100% - 420px);
        max-width: calc(100% - 420px);
        padding: 0 10px;
    }

    &__mini{
        flex: 0 0 420px;
        max-width: 420px;
        padding: 0 10px;
    }
}

.projects {
    display: flex;
    margin: 0px -15px;
    position: relative;
    z-index: 2;


    &-section {
        position: relative;
        padding: 100px 0 50px;
    }

    &__col {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        padding: 15px;
        position: relative;

        &_1 {
            padding-left: 55px;

            .project {

                &:nth-child(1) {
                    margin-bottom: 25px;
                }

                &:nth-child(2) {
                    margin-left: auto;
                }
            }
        }

        &_2 {
            padding-top: 40px;

            .project__name {
                @include br-p(992px, min) {
                    &:hover {
                        color: $col-2;

                        &:after {
                            color: $col-2;
                            border-color: $col-2;
                        }
                    }
                }
            }
        }

        &_3 {
            padding-top: 180px;
            padding-right: 9%;


            .project {

                &:nth-child(1) {
                    margin-left: auto;
                    margin-bottom: 25px;
                }

            }


            .project__name {
                @include br-p(992px, min) {
                    &:hover {
                        color: $col-1;

                        &:after {
                            color: $col-1;
                            border-color: $col-1;
                        }
                    }
                }
            }
        }
    }

    &-slider{


        &-wrapper{

        }
    }

    &-slide{


        &__content{
            position: relative;
            display: block;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 50%;
                height: 82px;
                background: no-repeat url(../img/card-img_over-2.png) right bottom / 100% 100%;
            }
        }

        &__img{
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
            overflow: hidden;
        }
    }

}

.miniatures{

    &-slider{
        flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px);


        &-wrapper{
            display: flex;
            margin: -10px 0;
        }

    }

    &-slide{
      padding: 10px;
      
      &__content{

      }

      &__img{
          height: 158px;
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 12px;
          overflow: hidden;
          cursor: pointer;
          filter: contrast(.3) brightness(1.5);

          .slick-current &{
              filter: none
          }
      }
    }

    &__arrows{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        flex: 0 0 60px;
    max-width: 60px;

    }

    &__arrow{
        position: static;
        transform: rotate(90deg);
        width: 46px;
        height: 46px;
        font-size: 18px;
        color: $col-3;
        box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);


        &_prev{
            transform: rotate(90deg) scaleX(-1);
            margin-bottom: 25px;
        }
    }
}

.project {
    will-change: transform;
    max-width: 178px;
    width: 100%;
    min-height: 142px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    display: flex;
    transition: transform .05s linear;

    @include br-p(992px, min) {
        transition: transform .8s .6s, opacity .5s .6s;
        transform: scale(.9);
        opacity: 0;


        &.animated {
            opacity: 1;
            transform: scale(1);
        }
    }


    &_sm {
        max-width: 240px;
        min-height: 191px;

        @include br-p(992px, min) {
            transition: transform .8s .5s, opacity .5s .5s;
            transform: scale(.9);
            opacity: 0;


            &.animated {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &_md {
        max-width: 335px;
        min-height: 260px;

        @include br-p(992px, min) {
            transition: transform .8s .9s, opacity .5s .9s;
            transform: scale(.9);
            opacity: 0;


            &.animated {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &_lg {
        max-width: 510px;
        min-height: 358px;

        @include br-p(992px, min) {
            transition: transform 1s .3s, opacity 1s .3s;
            transform: scale(.9);
            opacity: 0;


            &.animated {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &_absolute {
        position: absolute;
        right: 0;
        top: 70px;
        transform: translateX(75%);
        z-index: 3;

        @include br-p(992px, min) {
            transition: transform 1.2s .55s, opacity 1.2s .55s;
            transform: translateX(65%);
            opacity: 0;


            &.animated {
                opacity: 1;
                transform: translateX(75%);
            }
        }
    }

    &__content {
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__box {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        min-height: 60%;
        background: linear-gradient(360deg, #131313 0%, rgba(20, 20, 20, 0) 59.62%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 24px;
        color: $t-col-2;
        font-weight: 600;
        font-size: 18px;
        line-height: 135%;


    }

    &__name {
        position: relative;
        padding-right: 50px;

        @include br-p(992px, min) {
            &:hover {
                color: $col-4;

                &:after {
                    color: $col-4;
                    border-color: $col-4;
                }
            }
        }

        &:after {
            @include i-extend(arrow);
            width: 27px;
            height: 27px;
            border: 2px solid $col-6;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10px;
            bottom: 0;
            border-radius: 100%;
            font-size: 8px;
            font-weight: 400;
            color: $t-col-2;
            transition: $trs;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__stat {
        max-width: 190px;
        padding: 0px 15px;
        text-align: center;
    }

    &__number {
        font-size: 36px;
        font-weight: 800;
    }

    &__caption {
        font-size: 14px;
        font-weight: 600;
    }

    &__video-link {
        position: relative;
        z-index: 3;
        cursor: pointer;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 20px;
            width: 54px;
            height: 54px;
            border-radius: 100%;
            border: 2px solid #FFFFFF;
            padding-left: 2px;
        }
    }

    &__video-bg {

        @extend .project__bg;
        padding: 4px;

        img {
            border-radius: 10px;
        }

    }

}

.news {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;

    &-section {
        padding: 200px 0 30px;
    }

    &-item {
        padding: 15px;
        flex: 0 0 33.333%;
        max-width: 33.333%;

        &_full {
            max-width: 100%;
            flex: 1 1 auto;
            padding: 15px 0;
        }

        &__content {
            box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: #fff;
        }

        &__image-box {
            border-radius: 12px 12px 0px 0px;
            overflow: hidden;
            flex: 0 0 auto;
            width: 100%;
            // height: 268px;

            @include br-p(992px, min) {
                border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
                transition: border-radius 1s cubic-bezier(0.87, 0.06, 0.14, 1) .1s, opacity .5s;
                opacity: 0;

                &.animated {
                    border-radius: 10px 10px 0 0;
                    opacity: 1;
                }
            }
        }

        &__img {
            border-radius: 12px 12px 0px 0px;
            width: 100%;
            height: 268px;
            // height: 100%;
            object-fit: cover;
            object-position: center;

        }

        &__info {
            padding: 30px 40px 10px;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__title {
            @extend .card__title;
            margin-bottom: 5px;
            flex: 0 0 auto;


            @at-root a.news-item__title {
                transition: color .2s;
            }

            @at-root .news-item {
                @include br-p(992px, min) {
                    $colors: (1: $col-1,
                            2: $col-2,
                            3: $col-3,
                            4: $col-4,
                        );

                    @each $key,
                    $color in $colors {
                        $i: index($colors, ($key $color));

                        &:nth-child(#{$i}n) {
                            .news-item__title:hover {
                                color: $color;
                            }
                        }
                    }
                }
            }
        }

        &__description {
            font-size: 14px;
            line-height: 150%;
            padding: 20px 0;
            flex: 1 1 auto;
        }

        &__bottom {
            border-top: 1px solid #F4F4F4;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 0 18px;
        }

        &__time {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: rgba($text-color, .5);
            margin-right: 10px;

            i {
                margin-right: 10px;
                color: $col-3;
            }
        }

        &__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $col-1_gradient;
            border-radius: 100%;
            width: 28px;
            height: 28px;
            color: $col-1_dark;
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                border-radius: 100%;
                left: 2px;
                top: 2px;
                right: 2px;
                bottom: 2px;
                background: #fff;
            }

            i {
                position: relative;
                z-index: 2;
                font-size: 10px;
            }
        }
    }
}

.partners {
    padding: 0px 12%;

    &-section {
        padding: 150px 0px 190px;
        position: relative;
    }

    &__content {
        display: flex;
    }

    &__left {
        flex: 0 0 350px;
        max-width: 350px;
    }

    &__right {
        flex: 1 1 calc(100% - 350px);
        max-width: calc(100% - 350px);
        padding-left: 4%;

    }

    &__slider {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3%;
            height: 100%;
            background: linear-gradient(90deg, #F2FBFE, rgba(#fff, 0));
            z-index: 3;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 3%;
            height: 100%;
            background: linear-gradient(270deg, #F2FBFE, rgba(#fff, 0));
            z-index: 3;
        }
    }

    &__slide {
        padding: 15px;
    }
}

.partner {

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__inage-box {
        text-align: center;
    }

    &__img {
        max-width: 250px;
        max-height: 70px;
        object-fit: contain;
        object-position: center;
        margin: 0px auto;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    padding: 60px 25px 20px;

    &-section {
        padding: 145px 0 125px;
    }

    &__content {
        max-width: 1320px;
        margin: 0px auto;
    }
}

.contact-box {
    flex: 0 0 auto;
    // max-width: 33.333%;
    padding: 15px 25px 15px 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__icon-box {
        position: absolute;
        left: 15px;
        top: 0;

    }

    &__name {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    &__contact {
        display: inline-block;
        margin-bottom: 2px;
        max-width: 200px;
        font-size: 14px;

        @at-root a.contact-box__contact {
            @include br-p(992px, min) {
                $colors: (1: $col-1,
                        2: $col-2,
                        3: $col-3,
                        4: $col-4,
                    );

                @each $key,
                $color in $colors {
                    $i: index($colors, ($key $color));

                    &:nth-child(#{$i + 2}) {
                        &:hover {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}

.map {
    pointer-events: none;
    user-select: none;

    @include br-p(992px, min) {
        transition: clip-path 1s .5s cubic-bezier(0.87, 0.06, 0.14, 1), opacity .5s .4s;
        clip-path: circle(0% at 50% 50%);
        opacity: 0;


        &.animated {
            opacity: 1;
            clip-path: circle(100% at 50% 50%);
        }
    }

    &__img {
        display: block;
        margin: 0px auto;
    }
}

.scroll-up {
    // background: $col-2_gradient;
    border: 2px solid $col-2;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: $col-2;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 55px;
    right: 45px;
    cursor: pointer;

    // @include br-p(#{$base-wrapp}, min) {
    //     right: calc(50% - #{$base-wrapp} / 2 + 20px);
    // }

    @include br-p(992px, min) {
        &:hover {

            &:before {
                transform: rotate(-180deg);
            }
        }
    }

    &:before {
        content: '';
        background: linear-gradient(90deg, rgba(#fff, 0) 30%, rgba(#fff, .2));
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: 2;
        right: -2px;
        top: -2px;
        left: -2px;
        bottom: -2px;
        border-radius: 100%;
        transition: $trs;
    }

    i {
        position: relative;
        transform: rotate(-90deg);
    }
}



@include br-p($xl) {

    .project_absolute {
        top: 45px;
    }

    .projects__col_3 {
        padding-top: 220px;
        padding-right: 3%;
    }

    .partner__img {
        max-width: 100%;
    }

    .interactive-el_4 {
        right: calc(50% - 2858px/ 2);
        width: 2858px;
    }

    .interactive-el_5 {
        max-width: 45%;
        bottom: 65px;
    }

    .cta-form__bg_full {
        padding: 60px 70px 100px;
    }


}

@include br-p($lg) {

    .intro__info {
        padding-left: 0;
    }

    .interactive-el_5 {
        left: 50%;
    }


    .interactive-el_10 {
        min-width: 140%;
        right: -20%;
    }

    .get-started {
        padding-top: 200px;
    }

    .news-section {
        padding-top: 120px;
    }

    .cta-form__left {
        padding: 5px;
    }

    .cta-form__right {
        padding: 5px;
    }

    .cta-form__bg_full {
        padding: 60px 20px 100px;
    }

    .news-item__img{
        height: 220px;
    }

    .news-item__info{
        padding: 30px 20px 10px;
    }


    .successful__main{
        max-width: calc(100% - 280px);
        flex: 0 0 calc(100% - 280px);
    }

    .successful__mini{
        max-width: 280px;
        flex: 0 0 280px;
    }

    .projects-slide__img {
        height: 518px;
    }

    .miniatures-slide__img{
        height: 130px;
    }

    .card{
        flex: 0 0 33.333%;
    }



}

@include br-p($md) {

    .intro-section {
        padding: 160px 0 320px;
    }

    .intro__info {
        padding-top: 100px;
    }

    .interactive-el_1 {
        max-width: 90px;
    }

    .interactive-el_2 {
        width: 280px;
        bottom: 90px;
        right: -52px;
    }

    .interactive-el_3 {
        bottom: 90px;
        left: 60%;
        transform: translateY(50%);
    }

    .interactive-el_4 {
        transform: translateY(70%);
    }

    .interactive-el_5 {
        display: none;
    }

    .interactive-el_6 {
        transform: translateY(-40%);
        top: 0;
        right: 0;
    }

    .interactive-el_10 {
        transform: translateY(-55%);
    }

    .successful{
        margin: 0;
    }

    .successful__main{
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        padding: 0;
    }

    .successful__mini{
        max-width: 200px;
        flex: 0 0 200px;
        padding: 0;
    }

    .miniatures-slider-wrapper{
        margin: -4px 0;
    }

    .miniatures-slide {
        padding: 4px 10px;
    }

    .projects-slide__img {
        height: 362px;
    }

    .miniatures-slide__img{
        height: 87px;
    }


    .targets__more-btn {
        position: static;
    }

    .targets__title-box {
        padding: 0;
    }

    .card {
        padding: 15px 6px;
    }

    .card__info {
        padding: 20px 12px 15px;
    }

    .card__img-box:after {
        height: 45px;
    }

    .card__title,
    .news-item__title {
        font-size: 16px;
    }

    .card__title-box {
        margin-bottom: 15px;
    }

    .card__description {
        padding: 7px 0;
    }

    .how__cards {
        flex-wrap: wrap;
    }

    .how-card {
        flex: 1 1 auto;
        min-width: 200px;
        max-width: 100%;
    }

    .how-card__content {
        padding: 20px 10px;
    }

    .cta-form__content {
        display: block;

        &_full {
            display: flex;
            flex-wrap: wrap;
        }

    }

    .cta-form__left,
    .cta-form__right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cta-form__col {
        flex: 1 0 50%;
        max-width: 100%;
    }

    .cta-form__image-box {
        right: 50%;
    }

    .cta-form__image-vector_1 {
        left: 0;
        transform: translateX(-18%);
    }

    .cta-form__image-vector_2 {
        bottom: 100%;
        right: 22%;
    }


    .team-section {
        padding: 40px 0px 30px;
    }

    .team-slider {
        padding: 15px 60px;
    }

    .team-slider:after {
        right: 60px;
    }

    .team-slider:before {
        left: 60px;
    }

    .team-slider__arrows .arrow_prev {
        left: 6px;
    }

    .team-slider__arrows .arrow_next {
        right: 6px;
    }

    .team-unit {
        padding: 20px 6px;
    }

    .team-unit__image-box {
        width: 250px;
        height: 250px;
    }

    .team-unit__info {
        padding: 30px 10px;
    }

    .team-unit__social-box {
        padding: 30px 0px 10px;
    }

    .projects__col_1 {
        padding-left: 15px;
        padding-top: 25px;
    }

    .projects__col_2 {
        padding-top: 50px;
    }

    .projects__col_3 {
        padding-top: 120px;
        padding-right: 15px;
    }


    .project_sm {
        max-width: 200px;
        min-height: 140px;
    }

    .project_absolute {
        top: 0px;
    }

    .project_md {
        min-height: 200px;
    }

    .project_lg {
        max-width: 470px;
        min-height: 309px;
    }

    .project__box {
        padding: 20px 10px;
        font-size: 14px;
    }

    .news-section {
        padding-top: 60px;
    }

    .news {
        margin: 0px -6px;
    }

    .news-item {
        padding: 15px 6px;
    }

    .news-item__info {
        padding: 20px 12px 5px;
    }

    .news-item__img{
        height: 180px;
    }

    .news-item__bottom {
        padding: 14px 0px 10px;
    }

    .news-item__description {
        padding: 10px 0;
    }

    .news__more-btn {
        padding-right: 0;
    }

    .news-item_full {
        padding: 15px 6px;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .partners-section {
        padding: 120px 0px 150px;
        position: relative;
    }

    .partners__content {
        display: block;
    }

    .partners__left {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .partners__right {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }

    .partners {
        padding: 0px 60px;
    }

    .contacts-section {
        padding: 130px 0 80px;
    }

    .contacts {
        padding: 50px 0px 20px;
    }

    .contact-box {
        padding: 15px 10px 15px 50px;
    }

    .contact-box__icon-box {
        width: 40px;
        left: 0;

        svg {
            max-width: 100%;
        }
    }


    .scroll-up{
        width: 34px;
        height: 34px;
        bottom: 30px;
        right: 13px;
    }


}

@include br-p($sm) {

    .interactive-el_4 {
        right: calc(50% - 1897px/ 2);
        width: 1897px;
    }

    .interactive-el_7 {
        width: 130%;
        left: -15%;
    }

    .interactive-el_8 {
        svg {
            max-width: 240%;
        }

        transform: translateY(-22%);
    }

    .interactive-el_10 {
        transform: translateY(0%);
        top: 0;
        max-width: 1000px;
        height: auto;
    }

    .intro-section {
        padding: 100px 0 260px;
    }


    .successful{
        display: block;
    }

    .successful{
        margin: 0;
    }

    .successful__main{
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }

    .successful__mini{
        max-width:100%;
        flex: 0 0 100%;
        padding: 0;
    }

    .projects-slide__content:after{
        height: 18%;
    }

    .miniatures-slider-wrapper{
        margin: 0 -5px;
    }

    .miniatures-slide {
        padding: 10px 5px;
    }

    .projects-slide__img {
        height: 400px;
    }

    .miniatures-slide__img{
        height: 110px;
    }

    .targets-section {
        padding: 60px 0px 65px;
    }

    .card{
        flex: 0 0 50%;
    }

    .how__top {
        display: block;
    }

    .how__btn-box {
        padding: 10px 0;
    }

    .how-card {
        padding: 6px;
    }

    .cta {
        padding: 120px 0px 40px;
    }

    .cta-form {
        padding: 50px 0 0;
    }

    .cta-form__bg {
        padding: 40px 15px;
        max-width: 420px;
        margin: 0px auto;

        &_full {
            max-width: 100%;
            padding: 40px 15px 30px;
        }
    }

    .cta-form__image-box {
        right: 0;
        width: 100%;
    }

    .cta-form-img {
        display: none;
    }

    .cta-form__image-vector_1 {
        z-index: 1;
    }

    .cta-form__image-vector_2 {
        right: 0;
    }

    .cta-form__btn-box {
        text-align: center;
    }

    .team-unit__image-box {
        width: 300px;
        height: 300px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .projects {
        margin: 0px -6px;
    }

    .projects__col {
        padding: 6px;
    }


    .projects__col_1 {
        padding-top: 30px;
    }

    .projects__col_3 {
        padding-top: 30px;
    }


    .project_lg {
        max-width: 390px;
        min-height: 240px;
        margin-bottom: 30px;
    }

    .project_absolute {
        position: static;
        transform: translateX(0);
    }

    .project__name {
        padding-right: 32px;

        &:after {
            width: 24px;
            height: 24px;
            right: 2px;
        }
    }

    .project__number {
        font-size: 30px;
    }

    .project__stat {
        padding: 10px;
    }

    .news-wrapper {
        margin: 0px -6px;
    }

    .news {
        display: block;
        margin: 0;
    }

    .news-item {
        flex: 0 0 auto;
        max-width: 100%;
    }

    .partners-section {
        padding: 100px 0px 120px;
        position: relative;
    }

    .contacts {
        display: block;
    }

    .contact-box {
        padding: 20px 10px 20px 100px;
    }

    .contact-box__icon-box {
        width: auto;
        left: 20px;

        svg {
            width: 60px;
            height: 60px;
        }
    }

    .map {
        width: 100%;
        height: 250px;
        border-radius: 12px;
        overflow: hidden;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .news-item_full {
        flex: 0 0 auto;
        max-width: 100%;
    }

    .cta-form__top {
        display: block;
    }

    .cta-form__title-box {
        text-align: center;
    }

    .scroll-up{
        width: 36px;
        height: 36px;
        bottom: 34px;
        right: 15px;
    }

}

@include br-p($xs) {

    .interactive-el_1 {
        max-width: 50px;
        left: -1px;
        top: -10px;
    }

    .interactive-el_2 {
        bottom: 0;
    }

    .interactive-el_3 {
        display: none;
    }

    .interactive-el_7 {
        width: 200%;
        left: -30%;
        object-fit: cover;
        height: 100%;
        transform: translateY(-65%);
    }

    .intro-section {
        padding: 80px 0 160px;
    }

    .projects-slide__img {
        height: 260px;
    }

    .miniatures-slide__img{
        height: 100px;
    }

    .miniatures__arrow_prev{
        margin-bottom: 15px;
    }

    .intro__info {
        flex: 0 0 auto;
        width: 100%;
        padding-top: 40px;
    }

    .intro__btn {
        margin-right: 0;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card{
        flex: 0 0 100%;
    }

    .cta-form {
        padding: 20px 0 0;
    }

    .cta-form__bg {
        padding: 25px 12px;
    }


    .cta-form__col {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .projects {
        flex-wrap: wrap;
    }

    .projects__col_1 {
        flex: 0 0 50%;
        max-width: 50%;
        order: 1;
    }

    .projects__col_2 {
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
        // display: flex;
    }

    .projects__col_3 {
        flex: 0 0 50%;
        max-width: 50%;
        order: 2;
    }

    .project_lg {
        margin-bottom: 0;
        max-width: 280px;
        min-height: 310px;
    }

    .project_absolute {
        position: absolute;
        top: 20%;
    }

    .get-started {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .helped-bg {
        transform: translateY(-35%);
        width: 170%;
        height: auto;
        max-width: initial;
        left: -45%;
    }

    .team-unit__image-box {
        width: 260px;
        height: 260px;
    }

    .map {
        height: 210px;
    }

}

@include br-p(419px) {

    .projects-slide__img {
        height: 200px;
    }

    .miniatures-slide__img{
        height: 80px;
    }

    .miniatures__arrow{
        height: 40px;
        width: 40px;
    }

    .miniatures__arrow_prev{
        margin-bottom: 5px;
    }
    .team-slider {
        padding: 15px 50px;
    }

    .team-slider:before {
        left: 50px;
    }

    .team-slider:after {
        right: 50px;
    }

    .team-unit__image-box {
        width: 190px;
        height: 190px;
    }

    .team-unit__name {
        font-size: 20px;
    }

    .team-unit__post {
        margin-bottom: 15px;
    }

    .team-unit__social-box {
        padding-top: 15px;
    }

    .project__name {
        padding-right: 0;

        &:after {
            content: none;
        }
    }

    .scroll-up {
        bottom: 32px;
        width: 34px;
        height: 34px;
    }
}