.news-category {
    padding: 50px 0;
}

.cta-inner {

    &__cta-form {
        padding: 0;
    }
}

.views-counter {
    font-size: 12px;
    line-height: 15px;
    color: #7A7A7A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;

    &:before {
        display: inline-block;
        content: url(../img/icons/eye.svg);
        opacity: 0.3;
        line-height: 0;
        margin-right: 5px;
    }
}


.sidebar {
    max-width: 500px;
    width: 100%;
    flex: 0 0 auto;
    padding-left: 20px;
}


.article {
    flex: 1 1 auto;

    &-wrapper {}


    &__content {
        padding-bottom: 80px;
    }

    &-container {
        display: flex;
    }

    &__text {
        padding-right: 10px;
        font-size: 14px;
        line-height: 21px;
    }

    &-shadow {
        background: #FFFFFF;
        box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        padding: 80px 30px 10px;
    }

    &__time {
        @extend .news-item__time;
        padding: 15px 0 5px;
        text-align: right;
        justify-content: flex-end;
    }

    &__stat {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding: 5px 0 20px;
    }


    &__intro-img {
        img {
            width: 100%;
            max-height: 520px;
            object-fit: cover;
            object-position: center;
        }
    }

    &__bottom {
        text-align: right;
        transform: translateY(-34px);
    }

    &__cta-form__bg {
        box-shadow: none;
        padding-top: 0;

        &:before {
            content: '';
            opacity: 0.1;
            border: 1px solid #BFBFBF;
            display: block;
            width: 100%;
            margin-bottom: 69px;
        }
    }

    &__news-section {
        padding: 90px 0;
    }
}



.helpways {
    padding: 40px 130px 50px;
}

.profile {
    @extend .helpways;

    &-section {}

    &__content {
        display: flex;
        margin: 0px -30px;
        padding-bottom: 30px;
    }

    &__left {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0px 30px;
    }

    &__right {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px 30px;
    }

    &__main-img {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;
        height: 100%;
        max-height: 800px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        @include br-p(992px, min) {
            border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
            transition: border-radius 1s cubic-bezier(0.87, 0.06, 0.14, 1) .1s, opacity .5s;
            opacity: 0;

            &.animated {
                border-radius: 10px 10px 0 0;
                opacity: 1;
            }
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 16%;
            background: no-repeat url(../img/card-img_over.png) right bottom / 100% 100%;
        }

        &-slider {
            padding-bottom: 10px;
        }

        &-slide {}
    }

    &__photo {
        overflow: hidden;
        position: relative;
        height: 100%;
        cursor: pointer;


        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: contrast(.3) brightness(1.5);

            .slick-current & {
                filter: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 16%;
            background: no-repeat url(../img/card-img_over.png) right bottom / 100% 100%;
        }

        &-slider {
            transition: $trs;



            &-wrapper {
                margin: 0px -10px;
                padding-right: 25px;
                position: relative;

                @include br-p(992px, min) {
                    transition: opacity .5s cubic-bezier(0.87, 0.06, 0.14, 1) 1s;
                    opacity: 0;

                    &.animated {
                        opacity: 1;
                    }
                }
            }
        }

        &-slide {
            padding: 10px;

            // $colors: (1: $col-1,
            //         2: $col-2,
            //         3: $col-3,
            //         4: $col-4,
            //     );

            // @each $key,
            // $color in $colors {
            //     $i: index($colors, ($key $color));

            //     &:nth-child(#{$i}n) {
            //         &:active .profile__photo {
            //             filter: drop-shadow(-4px -4px 2px rgba($color, .2))
            //         }
            //     }
            // }
        }
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 100%;
        margin-bottom: 15px;
        padding: 20px 0;
    }

    &__age {
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
    }

    &__info {
        font-size: 14px;
        line-height: 150%;

        padding: 0px 0px 80px;
    }

    &__bottom {
        border-top: 2px solid rgba(#BFBFBF, .1);
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #d6d6d6;
        cursor: pointer;
        padding: 10px 6px;

        &_prev {
            left: -20px;

            i {
                display: inline-block;
                transform: scaleX(-1);
            }
        }

        &_next {
            right: 5px;
        }
    }

}

.jllikeproSharesContayner {
    display: flex;
    padding: 80px 0 0;
    align-items: center;
    position: relative;
    z-index: 2;

    .button_text {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }
}

.share-box {

    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
}


.similar-news__title {
    background: $col-4_gradient;
    border-radius: 0px 0px 12px 12px;
    color: $t-col-2;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 30px;

    &:before {
        display: inline-block;
        content: url(../img/icons/similar.svg);
        line-height: 0;
        margin-right: 15px;
    }
}

.similar-item {


    &__content {
        background: #FFFFFF;
        box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.05);
        border-radius: 12px;

        .news-item__description {
            padding: 0px 0px 15px;
        }

        .news-item__bottom {
            padding: 10px 0;
        }

        .news-item__arrow {
            width: 18px;
            height: 18px;

            .icon-arrow {
                font-size: 8px;
            }
        }
    }
}

.inner-box {

    &__shadow-wrapp {
        background: #FFFFFF;
        box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
    }
}

.inner-section {
    @extend .helpways;
}


.list-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;


    &_numeric {

        .list-card {
            counter-increment: list-counter;
        }

        .list-card__content {
            position: relative;
            padding-left: 62px;
            display: flex;
            align-items: center;



            &::before {
                content: counter(list-counter);
                position: absolute;
                left: 13px;
                top: 50%;
                transform: translateY(-50%);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $col-3;
                color: $col-3;
                font-size: 14px;
                line-height: 1;
                border-radius: 100%;
                padding-top: 1px;
                width: 32px;
                height: 32px;

                @include br-p(992px, min) {
                    transition: opacity .5s cubic-bezier(0.87, 0.06, 0.14, 1) .4s;
                    opacity: 0;
                }

                @for $i from 1 through 9 {
                    @at-root .list-card:nth-child(#{$i}) .list-card__content:before {
                        content: '0'counter(list-counter);
                    }
                }
            }


            @include br-p(992px, min) {
                transition: opacity .5s cubic-bezier(0.87, 0.06, 0.14, 1);
                opacity: 0;

                .list-card__text {
                    transition: opacity .5s cubic-bezier(0.87, 0.06, 0.14, 1) .1s, transform .8s cubic-bezier(0.87, 0.06, 0.14, 1);
                    opacity: 0;
                    transform: translateX(10px);
                }

                &.animated {
                    opacity: 1;

                    &:before {
                        opacity: 1;
                    }

                    .list-card__text {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.list-card {
    padding: 10px 15px;
    flex: 0 0 25%;

    &__text {
        line-height: 1;
    }

    &__content {
        padding: 17px 13px;
        background: #FFFFFF;
        box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        height: 100%;
    }
}



.gallery {
    padding: 40px 0;
    border-top: 1px solid rgba(#BFBFBF, .1);

    &__box {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -7px;
        padding-top: 10px;
    }

    &__item {
        flex: 0 0 16.666%;
        padding: 7px;
        min-width: 200px;
        opacity: 1;
        transition: $trs;
        transition-property: opacity;
    }

    &__link {
        display: block;

        @include br-p(992px, min) {
            border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
            overflow: hidden;
            transition: border-radius 1s cubic-bezier(0.87, 0.06, 0.14, 1) .1s, opacity .5s;
            opacity: 0;

            &.animated {
                border-radius: 10px 10px 0 0;
                opacity: 1;
            }
        }
    }

    &__img {
        display: block;
        border-radius: 10px;
        width: 100%;
        height: 185px;
        object-fit: cover;
        object-position: center;

    }
}



.needhelp {


    &__box {
        padding: 20px 0px 40px;
    }

    &__list-cards {
        padding: 30px 0px 20px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -16px;
    }

    &-card {
        padding: 10px 16px;
        flex: 1 1 33.333%;

        &__content {
            text-align: center;
            padding: 20px 56px 25px;
            background: #F8FDFF;
            border-radius: 8px;
            position: relative;
            height: 100%;
            min-width: 250px;

            @include br-p(992px, min) {
                transition: opacity .5s;
                opacity: 0;

                &.animated {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 12px);
                width: 24px;
                height: 3px;
                background: $col-3;
            }
        }

        &__img {

            &-box {
                padding: 10px 0;
            }
        }

        &__text {
            padding: 15px 0 10px;
        }
    }
}


.people {


    &-category {
        @extend .news-category;
    }
}




@include br-p($xl) {
    .helpways {
        padding: 40px 70px 100px;
    }

    .needhelp__list-card {
        flex: 0 0 33.333%;
    }

}

@include br-p($lg) {
    .article {
        max-width: calc(100% - 360px);
    }

    .sidebar {
        max-width: 360px;
    }

    .helpways {
        padding: 40px 20px 70px;
    }
}

@include br-p($md) {

    .article-container {
        display: block;
    }

    .article {
        flex: 0 0 auto;
        max-width: 100%;
    }

    .sidebar {
        flex: 0 0 auto;
        max-width: 100%;
        padding: 0;
    }

    .jllikeproSharesContayner {
        padding: 60px 0 0;
    }

    .similar-news {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }

    .how-card_full .how-card__icon-box {
        flex: initial;
    }

    .how-card_full .how-card__info {
        flex: 0 0 55%;
        max-width: 55%;
    }

    .how-card__info {
        padding-left: 20px;
    }

    .profile__content {
        display: block;
    }

    .profile__left {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .profile__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .gallery__item {
        flex: 0 0 25%;
        min-width: 178px;
    }

    .gallery__img {
        height: 170px;
    }

    .list-card {
        flex: 0 0 33.333%;
    }

    .needhelp__cards {
        margin: 0px -7px;
    }

    .needhelp-card {
        padding: 10px 7px;
    }
}

@include br-p($sm) {

    .article-shadow {
        padding: 50px 14px 10px;
    }

    .similar-news {
        display: block;
        margin: 0;
    }



    .article__content {
        padding-bottom: 40px;
    }

    .helpways {
        padding: 30px 15px 60px;
    }

    .gallery__item {
        flex: 0 0 20%;
        min-width: 134px;
    }

    .gallery__img {
        height: 136px;
    }


    .list-card {
        flex: 0 0 50%;
    }

}

@include br-p($xs) {

    .how-card__content_vertical {
        flex-direction: column;
        text-align: center;

        .how-card__icon {
            width: 200px;
            height: 120px;
            object-fit: contain;
            object-position: center;
        }

        .how-card__info {
            text-align: center;
        }
    }

    .how-card_full .how-card__info {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .how-card__info {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .helpways {
        padding: 20px 12px 40px;
    }

    .article__bottom {
        transform: none;
    }

    .views-counter {
        justify-content: flex-start;
    }

    .jllikeproSharesContayner {
        padding: 30px 0 0;
    }

    .profile__title,
    .profile__age {
        font-size: 22px;
    }

    .gallery__box {
        margin: 0px -5px;
    }

    .gallery__item {
        min-width: 96px;
        padding: 5px;

    }

    .gallery__img {
        height: 85px;
    }

    .list-card {
        flex: 0 0 100%;
    }

    .needhelp__box {
        padding: 5px 0px 10px;
    }

    .needhelp__list-cards {
        padding: 10px 0px 5px;
    }
}